<br>
<div class="container" style="margin:0 auto;">	
	<div class="jumbotron">
		<h1 class="display-4 text-center">Articulos de: <%= @user.email %> </h1>
		</div>

	<div class="row">
		<%= render @user.articles %>
	</div>
	<div class="text-center top-space flickr_pagination">
		<%= will_paginate @articles %>
	</div>
</div>

